{{!-- <button type="submit" id="logout">Cerrar Sesión</button> --}}

{{#each products}}
    <p>{{this.title}} {{this.description}}</p>
    <p>{{this.price}}</p>
    <button id="{{this._id}}" class="agregar-al-carrito">Añadir al carrito</button>
    <br>
{{/each}}

{{#if hasPrevPage}}
    <button><a href="/products?page={{prevPage}}">Anterior</a></button>
{{/if}}

{{#if hasNextPage}}
    <button><a href="/products?page={{nextPage}}">Siguiente</a></button>
{{/if}}

<script src="/js/products.js"></script>
